body
{
    text-align: center;
}
p{
    font:size 24px;
    color:aquamarine;
}
img{
    border:5px solid yellow;
}
.link{
    text-decoration: none;
    color:yellow;
}
*
{
    font-family:'segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}
